{% extends 'base.html.twig' %}

{% block title %}Hackathon|Modifier factures{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen ">
    <div class="max-w-2xl w-full p-8 bg-sky-950 rounded-lg">
        <div class="w-full text-left mb-6">
            <a href="{{ path('app_factures') }}" class="inline-block font-semibold text-blue-400 hover:border-b hover:border-blue-400 flex items-center">
               &larr; Retour à la liste des factures
            </a>
        </div>
        <h1 class="text-3xl font-bold text-center text-white mb-8">Modification de la facture</h1>

        <div class="p-8 rounded-lg">
            {{ include('facture/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
